<div class="col-md-4 animate-box">
	<a href="#" class="item-grid text-center">
		<div class="image" style="background-image: url({{content.field_image.0}})"></div>
		<div class="v-align">
			<div class="v-align-middle">
				<h3 class="title">{{content.field_title.0}}</h3>
				<h5 class="category">{{content.field_abstract.0}}</h5>
			</div>
		</div>
	</a>
</div>