<div class="col-md-4 text-center item-block animate-box">
	<h3>{{content.field_title.0}}</h3>
	<p>{{content.field_body.0}}</p>
	<p><a href="{{content.field_button_link.0}}" class="btn btn-primary btn-outline with-arrow">{{content.field_button_text.0}} <i class="icon-arrow-right"></i></a></p>
</div>