<div class="fh5co-about animate-box">
		<div class="col-md-6 col-md-offset-3 text-center fh5co-heading">
			<h2>{{content.field_title.0}}</h2>
			<p>{{content.field_body.0}}</p>
		</div>	
		<div class="container">
			<div class="col-md-12 animate-box">
				<figure>
					<img src="{{content.field_image.0}}" alt="Free HTML5 Template" class="img-responsive">
				</figure>
			</div>
		</div>
	</div>