<aside id="fh5co-hero" class="js-fullheight">
		<div class="flexslider js-fullheight">
			<ul class="slides">
{% for result in view.result %}
		   	<li style="background-image: url({{file_url(view.field.uri.value(view.result[loop.index-1])) }});">
		   		<div class="overlay-gradient"></div>
		   		<div class="container">
		   			<div class="col-md-10 col-md-offset-1 text-center js-fullheight slider-text">
		   				<div class="slider-text-inner">
		   					<h2>{{ view.field.title.value(view.result[loop.index-1]) | striptags }}</h2>
		   					<p><a href="{{ view.field.field_button_link.value(view.result[loop.index-1]) | striptags }}" class="btn btn-primary btn-lg">{{ view.field.field_button_text.value(view.result[loop.index-1]) | striptags }}</a></p>
		   				</div>
		   			</div>
		   		</div>
		   	</li>
		     {% endfor %}
		  	</ul>
	  	</div>
	</aside>


	  