<div class="container-fluid pb-4 pt-4 paddding">
    <div class="container paddding">
        <div class="row mx-0">
            <div class="col-md-8 animate-box" data-animate-effect="fadeInLeft">
                {% for row in rows %}
               {{ row.content }}
             {% endfor %} 
            </div>
        </div>
    </div>
</div>        