<div id="fh5co-title-box" style="background-image: url( {{ fields.field_news_image.content }});height:750px;" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="page-title">
        <span>{{ fields.created.content}}</span>
        <h2>{{ fields.title.content }}</h2>
    </div>
</div>