<div class="container-fluid pb-4 pt-5">
    <div class="container animate-box">
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom py-2 mb-4">{{ view.getTitle() }}</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider2">
        	{% for row in rows %}
               {{ row.content }}
             {% endfor %} 
		</div>
	</div>
</div>        