<div class="container-fluid fh5co_video_news_bg pb-4">
    <div class="container animate-box" data-animate-effect="fadeIn" >
        <div>
            <div class="fh5co_heading fh5co_heading_border_bottom pt-5 pb-2 mb-4  text-white">{{ view.getTitle() }}</div>
        </div>
        <div class="owl-carousel owl-theme" id="slider3">
        	{% for row in rows %}
               {{ row.content }}
             {% endfor %} 
		 
		</div>
	</div>
</div>        

