<div class="container-fluid mb-4">
    <div class="container">
        <div class="col-12 text-center contact_margin_svnit ">
            <div class="text-center fh5co_heading py-2">{{ content.field_form_title.0 }}</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xs-12 col-sm-12 align-self-center">
                {{ content.field_contact_form.0 }}
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12 align-self-center">
                {{ content.field_map_url.0 }}
            </div>
        </div>
    </div>
</div>